.article ul{
    padding: 0 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quadro-container {
    display: flex;
    height: 578px;
    width: 49%;
    background: linear-gradient(rgb(240, 240, 240) 0%, rgb(240, 240, 240) 100%), rgb(240, 240, 240);
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    box-sizing: border-box;
    position: relative;
    padding: 24px;
}

.article img {
    max-height: 456px;
    display: block;
}

.quadro-text {
    background: linear-gradient(rgb(240, 240, 240) 0%, rgb(240, 240, 240) 100%), rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.quadro-text p {
    max-width: 80%;
    text-align: center;
    line-height: 6rem;
    font-size: 6rem;
}

.quadro-text:hover {
    opacity: 1;
    transition: .2s;
}

@media (max-width: 1000px) {
    .quadro-text p {
        font-size: 4rem;
        line-height: 4rem;
    }

    .quadro-container {
        padding: 42px;
        height: 428px;
    }

    .article img {
        max-height: 328px;
    }
}

@media (max-width: 680px) {
    .article ul {
        padding: 0 16px;
        display: block;
    }

    .quadro-container {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .article img {
        min-width: 100%;
        max-height: none;
        height: none;
    }

    .quadro-text {
        display: none;
    }
}