.sobre {
    margin-top: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 32px;
}

.sobre.ativo {
    margin-bottom: 0;
}

.title {
    font-family: 'Elsie', serif;
    font-size: 8rem;
    color: #D5B11E;
}

.sobre p {
    position: absolute;
    max-width: 580px;
    left: 605px;
    bottom: 0;
    font-size: 1.75rem;
    line-height: 2.3rem;
    margin-right: 32px;
}

.sobre p a {
    color: #D5B11E;
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .title {
        font-size: 5rem;
    }
    .sobre p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        left: 432px;
    }
    .img-principal {
        width: 382px;
    }

    .menu.ativo {
        height: 100vh;
    }
}

@media (max-width: 680px) {
    .sobre {
        flex-direction: column;
        padding: 0 16px;
    }

    .sobre p {
        position: unset;
    }

    .img-principal {
        width: 100%;
    }

    .header {
        padding: 24px 16px;
    }

    .title {
        font-size: 4rem;
        align-self: flex-end;
        margin-top: 14px;
        margin-bottom: 24px;
    }

    .logo {
        font-size: 2rem;
    }

    .menu.ativo {
        height: 100%;
        width: 100%;
    }
}
